<% return unless comic
   hidden ||= nil
%>
<%= javascript_include_tag "comic" %>
<div id="comic" <%= "class='hidden'" if hidden %> >
  <table><!-- this is the easiest way to vertically center things. yeah, I'm using tables, what? --> 
    <tr>
      <td>
        <div id="prev"><%= link_to "prev", :action=> 'prev', :id => comic.id %></div>
      </td>
      <td>
        <h1 id="title"><%= comic.title %></h1>
        <div id="date"><%= comic.date %></div>
        <div class="clear"> </div>
        <div id="photo">
          <%= image_tag comic.photo.url %>
        </div>
        <div id="blurb"><%= comic.blurb %></div>
        <% if user_is_author? %>
          <div class="controls">
            <%= link_to 'Edit', edit_comic_path(comic), :class => 'edit' %> |
            <%= link_to 'Destroy', comic, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy' %> 
          </div>
        <% end %>
      </td>
      <td>
        <div id="next"><%= link_to "next", :action => 'next', :id => comic.id %></div>
      <td>
    </tr>
  </table>
</div>
