<% 
    return unless comic
   javascript_include_tag :all
%>

<%= javascript_include_tag "comic" %>

<div id="comic">
  <div id="comic_info">
    <h1 id="title"><%= comic.title %></h1>
    <div id="date"><%= comic.date %></div>
  </div>

  <div id="photo">
    <%= image_tag comic.photo.url(:display) %>
  </div>
  <div class="clear"> </div>

  <div id="comic_controls">
    <div class="comic_control prev">
      <% if comic.prev %>
        <%= link_to 'Previous', url_for(comic.prev) %>
      <% else %>
        <%= link_to 'Previous', '#', :class => 'disabled' %>
      <% end %>
    </div>
    <div class="comic_control next">
      <% if comic.next %>
        <%= link_to 'Next', url_for(comic.next) %>
      <% else %>
        <%= link_to 'Next', '#', :class => 'disabled' %>
      <% end %>
    </div>

    <%= render :partial => 'social_links', :locals => {:comic => comic } %>

  </div>  

  <%= render :partial => 'static/right_ad_rail' %>
  <div id="blurb" class="float-left"><%= raw(comic.blurb) %></div>
  <div id="comments" >
    <%= render :partial => 'comments', :locals => { :comic => comic } %>
  </div>
</div>
<% if user_is_author? %>
  <div id="author_actions">
    <div class="author_action edit">
      <%= link_to 'Edit', edit_comic_path(comic), :class => 'edit' %>
    </div>
    <div class="author_action destroy">
      <%= link_to 'Destroy', comic_url(comic)+"/destroy", :class => 'destroy', :confirm => "sure?" %>
    </div>
    <div class="author_action spacer">
      &nbsp;
    </div>
  </div>
<% end %>
