<% return unless comic %>
<% #this is semantic markup for passing around lists of comics. %>
<div class="comic_info">
  <div class="title"><%= comic.title %></div>
  <div class="date"><%= comic.date %></div>
  <div class="blurb"><%= comic.blurb %></div>
  <div class="img_links">
    <ul>
      <li> <%= link_to 'full image', comic.photo.url(), :class => 'full' %> </li>
      <li> <%= link_to 'thumb image', comic.photo.url(:thumb), :class => 'thumb' %> </li>
    </ul>
  </div>
  <% if current_user && current_user.is_author %>
    <div class="controls">
      <%= link_to 'Edit', edit_comic_path(comic), :class => 'edit' %> |
      <%= link_to 'Destroy', comic, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy' %> 
    </div>
  <% end %>
</div>
