<% return unless comic
   hidden ||= nil
%>
<%= javascript_include_tag "comic" %>
<div id="comic" <%= "class='hidden'" if hidden %> >
  <table><!-- this is the easiest way to vertically center things. yeah, I'm using tables, what? --> 
    <tr>
      <td>
        <% if comic.prev %>
          <div id="prev"><%= link_to image_tag("/images/prev.png", :alt => 'prev'), url_for(comic.prev), :id => comic.id %></div>
        <% end %>
      </td>
      <td>
        <h1 id="title"><%= comic.title %></h1>
        <div id="date"><%= comic.date %></div>
        <div id="original">
          <% if comic.has_original && comic.original_photo && comic.original_date %>
            <%= link_to "See the original from #{comic.original_date} here!", 
                        comic.original_photo.url(:display),
                        :class => 'original_link' %>
          <% end %>
        </div>
        <div class="clear"> </div>
        <div id="photo">
          <%= image_tag comic.photo.url(:display) %>
        </div>
        <div class="clear"> </div>
        <div id="tweet">
          <a href="http://twitter.com/share?url=http://anotherwebcomic.com<%= url_for(comic) %>" class="twitter-share-button" data-count="none">
            <%= image_tag "tweet_icon.png", :alt => 'tweet', :title => 'tweet' %>
          </a>
        </div>
        <div id="blurb"><%= raw(comic.blurb) %></div>
        <% if user_is_author? %>
          <div class="controls">
            <%= link_to 'Edit', edit_comic_path(comic), :class => 'edit' %> |
            <%= link_to 'Destroy', comic, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy' %> 
          </div>
        <% end %>
      </td>
      <td>
        <% if comic.next %>
          <div id="next"><%= link_to image_tag("/images/next.png", :alt => 'next'), url_for(comic.next), :id => comic.id %></div>
        <% end %>
      <td>
    </tr>
  </table>
</div>
