<% 
  return unless comic
  javascript_include_tag :all
%>

<% content_for :meta_desc do %>
  <%= strip_tags(comic.blurb)[0..154] %>
<% end %>

<% content_for :title_extra do %>
 | <%= comic.title %>
<% end %>

<% content_for :head_prefix do %>
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
<% end %>

<% content_for :og_meta_tags do %>
  <%
    og_tag_map = {
      "og:type" => 'article',
      "og:image" => URI.encode(comic.thumbnail_url(:original)),
      "og:title" => comic.title,
      "og:url" => URI.encode(comic_url(comic)),
      "og:description" => strip_tags(comic.blurb)[0..154],
      "article:author" => 'http://facebook.com/koos42',
      "article:published_time" => comic.date,
      "article:tag" => 'comics',
    }
    og_tag_map.each do |og_tag, value| %>
      <%= tag :meta, :property => og_tag, :content => value %>
    <% end %>
<% end %>
<%= javascript_include_tag "comic" %> 
<div id="comic">
  <div id="photo">
    <%= image_tag comic.photo.url(:wide) %>
  </div>
  <div class="clear"> </div>

  <div id="comic_controls">
    <div class="comic_control prev">
      <% if comic.prev %>
        <%= link_to 'Previous', show_by_slug_path(comic.prev.slug) %>
      <% else %>
        <%= link_to 'Previous', '#', :class => 'disabled' %>
      <% end %>
    </div>
    <div class="comic_control next">
      <% if comic.next %>
        <%= link_to 'Next', show_by_slug_path(comic.next.slug) %>
      <% else %>
        <%= link_to 'Next', '#', :class => 'disabled' %>
      <% end %>
    </div>

    <%= render :partial => 'social_links', :locals => {:comic => comic } %>

  </div>  

  <%= render :partial => 'static/right_ad_rail' %>
  <div class="title-block">
    <%= image_tag (comic.thumbnail_url), :class => 'thumbnail' %>
    <h1 class="title"><%= comic.title %></h1>
    <div class="date"><%= comic.date %></div>
    <% if comic.tags.any? %>
      <div class="tags">
        Tags: <%= render partial: 'tags/tag_list', locals: { tag_list: comic.tags } %>
      </div>
    <% end %>
  </div>
  <div id="blurb" class="float-left"><%= raw(comic.blurb) %></div>
  <% if comic.related_comics(6) %>
    <h3 id="related-comics-label" class="clear-left">Related Comics</h3>
    <div id="related-comics" class="clear-left">
      <%= render partial: 'minimal_comic', collection: comic.related_comics(5), as: :comic %>
      <div class="clear-left"></div>
    </div>
  <% end %>
  <div id="comments" >
    <%= render :partial => 'comments', :locals => { :comic => comic } %>
  </div>
</div>
<% if user_is_author? %>
  <div id="author_actions">
    <div class="author_action edit">
      <%= link_to 'Edit', edit_comic_path(comic), :class => 'edit' %>
    </div>
    <div class="author_action destroy">
      <%= link_to 'Destroy', comic_url(comic)+"/destroy", :class => 'destroy', :confirm => "sure?" %>
    </div>
    <div class="author_action spacer">
      &nbsp;
    </div>
  </div>
<% end %>
