<%= form_for(@comic, :html => { :multipart => true }) do |f| %>
  <% if @comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
      <% @comic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :publish %><br />
    <%= f.check_box :publish %>
  </div>
  <div class="field">
    <%= f.label :blurb %><br />
    <%= f.text_area :blurb %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :has_original %><br />
    <%= f.check_box :has_original %>
  </div>
  <div class="field">
    <%= f.label :original_date %><br />
    <%= f.date_select :original_date %>
  </div>
  <div class="field">
    <%= f.label :original_photo %><br />
    <%= f.file_field :original_photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
