<!DOCTYPE html>
<html>
<head>
  <title>AnotherWebcomic<%= yield :title_extra %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag :atom, "/comics/feed" %>
  <%= auto_discovery_link_tag :rss, "/comics/feed.rss" %>
  <% # <meta property="fb:page_id" content="160641594010312" /> %>
  <meta name="description" content="<%= yield :meta_desc %>" />
  <meta property="fb:app_id" content="<%= FACEBOOK_APP_ID %>"/>
  <%= yield :og_meta_tags %>
  <%= yield :head %>
  <% unless user_signed_in? %>
  <%# don't do analytics for users who are signed in, they don't count. %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= GOOGLE_ANALYTICS_ACCOUNT %>']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=273241006081887";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <div id="logo">
    <%= link_to image_tag('/images/logo.gif', :alt => "anotherwebcomic.com"), '/' %>
  </div>
  <div id="top_nav">
    <div id="archive_link">
      <%= link_to "Archive", :controller => '/comics', :action => 'index' %>
    </div>
    <div id="facebook_link">
      <%= link_to "Facebook", "http://facebook.com/anotherwebcomic" %>
    </div>
    <div id="twitter_link">
      <%= link_to "Twitter", "http://twitter.com/anotherwebcomic" %>
    </div>
  </div>
  <div id="content">
<%= yield %>
  <div class="clear"></div>
  </div>
  <div id="footer">
    &copy; Copyright <%= DateTime.now().year %> Koos Kleven
    <% if user_signed_in? %>
      <div id="user_nav">
        Signed in as <%= current_user.username %>.
        <%= link_to "Sign out", destroy_user_session_path %>
      </div>
    <% else %>
        <% # link_to "Sign up", new_user_registration_path %>
    <% end %>
  </div>
</body>
</html>
