<!DOCTYPE html>
<html>
<head>
  <title>AnotherWebcomic</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag :atom, "/comics/feed" %>
  <%= auto_discovery_link_tag :rss, "/comics/feed.rss" %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1675572-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <div id="logo">
    <%= link_to image_tag('/images/logo.png', :alt => "anotherwebcomic.com"), '/' %>
  </div>
  <div id="top_nav">
    <div id="archive_link">
      <%= link_to "Archive", '/' %>
    </div>
    <div id="about_link">
      <%= link_to 'About', :controller => '/pages', :action => 'about'  %>
    </div>
    <div class="clear"> </div>
  </div>
  <div id="content">
<%= yield %>
  </div>
  <div id="footer">
    <% if user_signed_in? %>
      <div id="user_nav">
        Signed in as <%= current_user.username %>.
        <%= link_to "Sign out", destroy_user_session_path %>
      </div>
    <% else %>
        <% # link_to "Sign up", new_user_registration_path %>
    <% end %>
  </div>
</body>
</html>
