<!DOCTYPE html>
<html>
<head>
  <title>Webcomic</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <div id="logo">
    <%= link_to image_tag('/images/logo.png', :alt => "anotherwebcomic.com"), '/' %>
  </div>
  <div id="top_nav">
    <div id="archive_link">
      <%= link_to image_tag('/images/archive_link.png', 
                            :alt => 'archive', 
                            :title => 'archive'), '/' %>
    </div>
    <div id="about_link">
      <%= link_to image_tag('/images/about_link.png', 
                            :alt => 'archive', 
                            :title => 'archive'), '#about' %>
    </div>
  </div>
  <div id="content">
<%= yield %>
  </div>
  <% if user_signed_in? %>
    <div id="user_nav">
      Signed in as <%= current_user.username %>.
      <%= link_to "Sign out", destroy_user_session_path %>
    </div>
  <% else %>
      <% # link_to "Sign up", new_user_registration_path %>
  <% end %>
</body>
</html>
